.fondoRestaurante {
    display:flex;
    justify-content:center;
    width: 90%;
    height: 400px;

}

    .fondoRestaurante img {
        height: 25rem;
        width: 45rem;
        border: 1px solid #ccc;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 7px 7px 15px #592A08;
    }

.datosRestaurante {
    height: 25rem;
    width: 45rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    border: 1px solid #ccc;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 7px 7px 15px #592A08;
}
.restaurante {
    height:13rem;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color:violet;
    text-align:center;
    padding-top:9%;
 
}

.menu {
    margin-top: 20px;
    padding: auto;
    /*background-color:red;*/
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
.alimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 10rem;
    /*background-color: green;*/
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:7px 7px 7px 7px;
    box-shadow: 7px 7px 15px #592A08;
}



