USE [master]
GO
/****** Object:  Database [ExtraSlice]    Script Date: 22/03/2023 21:21:46 ******/
CREATE DATABASE [ExtraSlice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExtraSlice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExtraSlice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExtraSlice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ExtraSlice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExtraSlice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExtraSlice]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_categoria] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__categori__CD54BC5A1B427CD7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] NOT NULL,
	[nombre_cliente] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](200) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[passcifrado] [varbinary](max) NULL,
	[pass] [nvarchar](50) NOT NULL,
	[salt] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__clientes__677F38F5EC4F9E3D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[id_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[id_restaurante] [int] NULL,
 CONSTRAINT [PK__producto__FF341C0D587E02DC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_pedidos]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_pedidos](
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurantes]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_restaurante] [nvarchar](255) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[id_categoria] [int] NULL,
	[imagen] [nvarchar](100) NULL,
 CONSTRAINT [PK__restaura__5C186E3F0EFC1D4D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([id], [nombre_categoria]) VALUES (1, N'Sushi')
INSERT [dbo].[categorias] ([id], [nombre_categoria]) VALUES (2, N'Pizza')
INSERT [dbo].[categorias] ([id], [nombre_categoria]) VALUES (3, N'Mexicana')
SET IDENTITY_INSERT [dbo].[categorias] OFF
GO
INSERT [dbo].[clientes] ([id], [nombre_cliente], [direccion], [telefono], [email], [passcifrado], [pass], [salt]) VALUES (1, N'prueba', N'prueba', N'prueba', N'prueba', 0xD46C15962373C2807BFFBEDCF8668A469093C841E886E00ED45CBF831759177694A7FB260C056DF8BEFED4588FC7140CCB094B191F7413333DD1DDD92853E455, N'prueba', N'ðu3¶d¨ëbÂN;Û28Î¶CXïSõOvîJè{^oõÀ?ïð{WS}C÷')
INSERT [dbo].[clientes] ([id], [nombre_cliente], [direccion], [telefono], [email], [passcifrado], [pass], [salt]) VALUES (2, N'Marco', N'C/ Fantasía 12', N'644906199', N'noenaz321@gmail.com', 0xE83C381B6FF8D091B9502CB6B4F5D2343E5164066A75FE10F4C40B9ABEAA0FBA00C27E9DF8790C815C82556A508283774C96DEEF7A274A55074EDBE0001D618C, N'banana', N'ßQÇ³á©)xQ>H¤«\Ë[ôPÎ<|?#UTZÂÁU(-/.Ãà+(áÃ5')
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id], [nombre_producto], [descripcion], [precio], [id_restaurante]) VALUES (1, N'Gyozas', N'Empanadillas de pollo y vegetales al vapor o fritas con salsa de anguila.', CAST(9.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[productos] ([id], [nombre_producto], [descripcion], [precio], [id_restaurante]) VALUES (2, N'Wakame', N'Ensalada de algas marinas.', CAST(8.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[productos] ([id], [nombre_producto], [descripcion], [precio], [id_restaurante]) VALUES (3, N'Sushi Burger', N'Base de arroz crujiente, atún marinado, wakame, pasta dinamita, aguacate, salsa teriyaki y sésamo.', CAST(15.50 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurantes] ON 

INSERT [dbo].[restaurantes] ([id], [nombre_restaurante], [direccion], [telefono], [id_categoria], [imagen]) VALUES (1, N'Sakale', N'Calle del Molino de Viento 4, 28004 Madrid España', 918656322, 1, N'SAKALE.jpg')
INSERT [dbo].[restaurantes] ([id], [nombre_restaurante], [direccion], [telefono], [id_categoria], [imagen]) VALUES (2, N'Maximos', N'Menendez Pelayo 53 Local 2, 28009 Madrid España', 919306434, 1, N'MaximoSushi.jpg')
INSERT [dbo].[restaurantes] ([id], [nombre_restaurante], [direccion], [telefono], [id_categoria], [imagen]) VALUES (3, N'Sibuya Urban Sushi Bar Chueca', N'Calle Santo Tome 5, 28004 Madrid España', 913198393, 1, N'Sibuya.jpg')
SET IDENTITY_INSERT [dbo].[restaurantes] OFF
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK__pedidos__id_clie__2E1BDC42] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK__pedidos__id_clie__2E1BDC42]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK__productos__id_re__2B3F6F97] FOREIGN KEY([id_restaurante])
REFERENCES [dbo].[restaurantes] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK__productos__id_re__2B3F6F97]
GO
ALTER TABLE [dbo].[productos_pedidos]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id])
GO
ALTER TABLE [dbo].[productos_pedidos]  WITH CHECK ADD  CONSTRAINT [FK__detalles___id_pr__31EC6D26] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[productos_pedidos] CHECK CONSTRAINT [FK__detalles___id_pr__31EC6D26]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_cliente]    Script Date: 22/03/2023 21:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_insert_cliente]
(@name nvarchar (50),
@dire nvarchar (50),
@tel int,
@user nvarchar (50),
@pass nvarchar (100))
as
declare @idmax int
select @idmax = MAX(id) + 1  from clientes
insert into clientes values (@idmax,@name,@dire,@tel,@user,@pass);
GO
USE [master]
GO
