<div class="icon-container">
    <i class="fa-arrow-up"><img src="~/images/sushi.png" /><br />Sushi</i>
    <i class="fas fa-arrow-up"><img src="~/images/taco.png" /><br />Mexicana</i>
    <i class="fas fa-arrow-up"><img src="~/images/emparedado.png" /><br />Hamburguesas</i>
    <i class="fas fa-arrow-up"><img src="~/images/postre.png" /><br />Postres</i>
    <i class="fas fa-arrow-up"><img src="~/images/ramen.png" /><br />Japonesa</i>
    <i class="fas fa-arrow-up"><img src="~/images/porcion-de-pizza.png" /><br />Pizza</i>
    <i class="fas fa-arrow-up"><img src="~/images/espaguetis.jpg" /><br />Italiana</i>
    <i class="fas fa-arrow-up"><img src="~/images/poke.jpg" /><br />Poké</i>
    <i class="fas fa-arrow-up"><img src="~/images/hotdog.jpg" /><br />Americana</i>

</div>
<div>
<section class="carousel">
    <div class="carousel__container">
        <div class="carousel--item">
            <img class="carousel--item__img"
                 src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                 alt="item" />

            <div class="carousel--item__details">
                <div>
                    <img src="../src/img/carousel--play.svg" alt="icon play" />
                    <img src="../src/img/carousel--plus.svg" alt="icon add" />
                </div>

                <p class="carousel--item__details--title">Titulo provisional</p>
                <p class="carousel--item__details--subtitle">
                    2020 16+ 114 Minutos
                </p>
            </div>
        </div>
        <div class="carousel--item">
            <img class="carousel--item__img"
                 src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                 alt="item" />

            <div class="carousel--item__details">
                <div>
                    <img src="../src/img/carousel--play.svg" alt="icon play" />
                    <img src="../src/img/carousel--plus.svg" alt="icon add" />
                </div>

                <p class="carousel--item__details--title">Titulo provisional</p>
                <p class="carousel--item__details--subtitle">
                    2020 16+ 114 Minutos
                </p>
            </div>
        </div>
        <div class="carousel--item">
            <img class="carousel--item__img"
                 src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                 alt="item" />
            <div class="carousel--item__details">
                <div>
                    <img src="../src/img/carousel--play.svg" alt="icon play" />
                    <img src="../src/img/carousel--plus.svg" alt="icon add" />
                </div>
                <p class="carousel--item__details--title">Titulo provisional</p>
                <p class="carousel--item__details--subtitle">
                    2020 16+ 114 Minutos
                </p>
            </div>
        </div>
    </div>
</section>
</div>

