
<div class="icon-container">
    <i class="fa-arrow-up"><img src="~/images/sushi.png" /><br />Sushi</i>
    <i class="fas fa-arrow-up"><img src="~/images/taco.png" /><br />Mexicana</i>
    <i class="fas fa-arrow-up"><img src="~/images/emparedado.png" /><br />Hamburguesas</i>
    <i class="fas fa-arrow-up"><img src="~/images/postre.png" /><br />Postres</i>
    <i class="fas fa-arrow-up"><img src="~/images/ramen.png" /><br />Japonesa</i>
    <i class="fas fa-arrow-up"><img src="~/images/porcion-de-pizza.png" /><br />Pizza</i>
    <i class="fas fa-arrow-up"><img src="~/images/espaguetis.jpg" /><br />Italiana</i>
    <i class="fas fa-arrow-up"><img src="~/images/poke.jpg" /><br />Poké</i>
    <i class="fas fa-arrow-up"><img src="~/images/hotdog.jpg" /><br />Americana</i>

</div>
<div>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel--item">
                <img class="carousel--item__img"
                     src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                     alt="item" />

                <div class="carousel--item__details">
                    <div>
                        <img src="../src/img/carousel--play.svg" alt="icon play" />
                        <img src="../src/img/carousel--plus.svg" alt="icon add" />
                    </div>

                    <p class="carousel--item__details--title">Titulo provisional</p>
                    <p class="carousel--item__details--subtitle">
                        2020 16+ 114 Minutos
                    </p>
                </div>
            </div>
            <div class="carousel--item">
                <img class="carousel--item__img"
                     src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                     alt="item" />

                <div class="carousel--item__details">
                    <div>
                        <img src="../src/img/carousel--play.svg" alt="icon play" />
                        <img src="../src/img/carousel--plus.svg" alt="icon add" />
                    </div>

                    <p class="carousel--item__details--title">Titulo provisional</p>
                    <p class="carousel--item__details--subtitle">
                        2020 16+ 114 Minutos
                    </p>
                </div>
            </div>
            <div class="carousel--item">
                <img class="carousel--item__img"
                     src="https://images.pexels.com/photos/1200450/pexels-photo-1200450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                     alt="item" />
                <div class="carousel--item__details">
                    <div>
                        <img src="../src/img/carousel--play.svg" alt="icon play" />
                        <img src="../src/img/carousel--plus.svg" alt="icon add" />
                    </div>
                    <p class="carousel--item__details--title">Titulo provisional</p>
                    <p class="carousel--item__details--subtitle">
                        2020 16+ 114 Minutos
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="search-filters">
    <div class="filters">
        <h1>Ordenar</h1>
        <form>
            <label>
                <input type="checkbox">
                Opción 1
            </label>
            <label>
                <input type="checkbox">
                Opción 2
            </label>
            <label>
                <input type="checkbox">
                Opción 3
            </label>
            <label>
                <input type="checkbox">
                Opción 4
            </label>
            <h1>Rango de precios</h1>
            <label for="range-input">Selecciona un valor:</label>
            <input type="range" id="range-input" min="0" max="100" step="1" value="50">
            <span id="range-value">50</span>
        </form>

    </div>
    <div class="search-container">
  <form action="#">
    <input type="text" placeholder="Buscar...">
    <button type="submit">Buscar</button>
  </form>
</div>

</div>
<div class="restaurantes scroll-content fadeTop">


    <div class="card">
        <img src="imagen.jpg" alt="Imagen de la card">
        <div class="content">
            <h3>Título de la card</h3>
            <p>Contenido de la card</p>
        </div>
    </div>


    <div class="card">
        <img src="imagen.jpg" alt="Imagen de la card">
        <div class="content">
            <h3>Título de la card</h3>
            <p>Contenido de la card</p>
        </div>
    </div>


    <div class="card">
        <img src="https://www.blogichef.com/wp-content/uploads/2013/01/mcdonalds-e1669393480286.webp" alt="Imagen de la card">
        <div class="content">
            <h3><a asp-controller="Home" asp-action="Restaurante">Mcdonald</a></h3>
            <p>Contenido de la card</p>
        </div>
    </div>


    <div class="card">
        <img src="https://www.topfranquicias.es/img_noticias/Topfranquicias-%20Domino%C2%B4s%20Pizza-%20apertura-%20Cieza-638048805015717070.jpg" alt="Imagen de la card">
        <div class="content">
            <h3>Domino's Pizza</h3>
            <p>Italiana-Pizza</p>
        </div>
    </div>


</div>

@section Scripts {
    <script>
        window.addEventListener('scroll', function () {
            let elements = document.getElementsByClassName('scroll-content');
            let screenSize = window.innerHeight;

            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];

                if (element.getBoundingClientRect().top < screenSize) {
                    element.classList.add('visible');
                } else {
                    element.classList.remove('visible');
                }

            }
        });



        const rangeInput = document.getElementById('range-input');
        const rangeValue = document.getElementById('range-value');

        rangeInput.addEventListener('input', (event) => {
            rangeValue.innerHTML = event.target.value;
        });

    </script>
}
