
@section Style{
<link rel="stylesheet" href="~/css/RestauranteStyle.css" />
}

<div class="fondoRestaurante" style="background-image: url('https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,w_1600,h_500,d_es:cuisines:mexicana-8.jpg/v1/es/restaurants/56478.jpg')">
</div>
<div class="datosRestaurante">
    <section class="restaurante">
          <h1>Chicken Ranch Salad</h1>
          <span>Mexicana Americana</span>
          <span>Avenida de Portugal, 45, Móstoles, 28931</span>
    <p>Contenido de la card</p>
    </section>
    <section class="carrito">
        <h1>carrito</h1>
    </section>
  
</div>
<div class="menu">
    <h1>Lista de alimentos</h1>
    <div class="alimento">
        <h2>titulo de la comida</h2>
        <p>La mejor comida del mundo</p>
        <p>Precio: dinero</p>
    </div>

</div>