<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExtraSliceV2</title>
    <link rel="stylesheet" href="~/css/carrouselCss.css" />
    @RenderSection("Style", false)
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                <a asp-controller="Home" asp-action="Index">eXtraSlice</a>
            </div>
            <div class="login">
                    <a asp-controller="Home" asp-action="Index" class="custom-btn btn-14">Iniciar Sessión</a>            
            </div>
           
        </nav>      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ExtraSliceV2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.1.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
