@model List<Producto>

@foreach (Producto prod in Model)
{
    <ul>
        <li>@prod.Nombre_producto</li>
        <li><a asp-controller="Carta" asp-action="Favoritos" asp-route-ideliminar="@prod.IdProducto">Borrar</a></li>
    </ul>
}
